body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #e6e6e6;
}

input{
    border: 2px solid #a1a1a1;
    padding: 6px 10px; 
    background: #dddddd;
    width: 250px;
    border-radius: 10px;
}

p {
    font-family:Trocchi, serif;
    font-size:25px;
    line-height:38px;
}